<h4 class="center">Empresas Cadastradas: </h4>
<table class="highlight bordered">
  <tr>
    <th>Nome: </th>
    <th>Email: </th>
    <th>Ver: </th>
    <th>Remover: </th>    
  </tr>
  <tr *ngFor="let enterprise of enterprises; let i = index">
    <td>{{ enterprise.name }}</td>
    <td>{{ enterprise.contact.email }}</td>
    <td><a [routerLink]="['/detalhes-empresa', enterprise._id]" class="btn purple darken-4"><i class="material-icons">search</i></a></td>
    <td><button (click)="openModal()" class="modal-trigger waves-effect waves-light btn"><i class="material-icons">close</i></button></td>
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Você tem certeza que deseja excluir a empresa?</h4>
      </div>
      <div class="modal-footer">
        <button class="modal-action modal-close waves-effect waves-green btn-flat ">Não</button>
        <button (click)="removerEmpresa(enterprise)" class="modal-action modal-close waves-effect waves-green btn-flat ">Sim</button>
      </div>
    </div>
  </tr>
</table>
