<ion-header>
  <ion-navbar primary>
    <ion-buttons start *ngIf="auth.isAuthenticated()">
      <button facebook solid large (click)="fazerPedido()"> 
      	Fazer Pedido
        <ion-icon name="pizza"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Parnaíba Delivery</ion-title>
    <ion-buttons end *ngIf="!auth.isAuthenticated()">
    	<button (click)="entrar()">Entrar</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="orders">
	<ion-refresher (ionRefresh)="atualizaPedidos($event)">
		<ion-refresher-content 
			pullingIcon="arrow-dropdown"
      pullingText="Puxe para atualizar"
      refreshingSpinner="circles"
      refreshingText="Atualizando..."
		>
		</ion-refresher-content>
	</ion-refresher>
	<ion-title text-center style="margin-top: 10px">Seus Pedidos: </ion-title>
	<ion-card *ngFor="let order of (orders | ordenaListaPorData) ; let i = index">
		<ion-item>
			<h2>{{ order.enterprise.name }}</h2>
			<p>Valor: {{ order.totalPrice | currency:'BRL':true }}</p>
		</ion-item>
		<ion-card-content>
			<p *ngFor="let item of order.items"> <ion-icon name="pizza" *ngIf="item.kind == 'food'"></ion-icon> <ion-icon name="beer" *ngIf="item.kind == 'beverage'"></ion-icon> {{ item.name }}</p>
		</ion-card-content>

		<ion-row>
			<ion-col>
				
				<button redColor clear small *ngIf="order.status == 'Processando'">
					<ion-icon name="clipboard"></ion-icon>
					<div>{{ order.status }}</div>
				</button>

				<button facebook clear small *ngIf="order.status == 'Preparando'">
					<ion-icon name="clock"></ion-icon>
					<div>{{ order.status }}</div>
				</button>

				<button danger clear small *ngIf="order.status == 'Saiu para entrega'">
					<ion-icon name="walk"></ion-icon>
					<div>{{ order.status }}</div>
				</button>

				<button secondary clear small *ngIf="order.status == 'Finalizado'">
					<ion-icon name="done-all"></ion-icon>
					<div>{{ order.status }}</div>
				</button>

			</ion-col>
			<ion-col center text-center>
				<ion-note>
					{{ order.createdAt | filtraDatta }}
				</ion-note>
			</ion-col>
		</ion-row>
	</ion-card>
</ion-content>
<ion-footer>
	<ion-toolbar primary *ngIf="auth.isAuthenticated()">
		<!--BARRA CASUAL-->
		<ion-row *ngIf="user.get('tipo') === 1">
			<ion-col width-10>
				<ion-avatar>
					<img src="{{ user.details.image || null }}" />
				</ion-avatar>
			</ion-col>
			<ion-col width-75>
				<ion-title>
					{{ user.details.name || user.details.email }}
				</ion-title>
			</ion-col>
			<ion-buttons end>
		    	<button (click)="sair()" outline>Sair</button>
		  </ion-buttons>
		</ion-row>
		<!--BARRA FACEBOOK-->
		<ion-row *ngIf="user.get('tipo') === 0">
			<ion-col width-10>
				<ion-avatar>
					<img src="{{ user.social.facebook.data.profile_picture || null }}" />
				</ion-avatar>
			</ion-col>
			<ion-col width-75>
				<ion-title>
					{{ user.social.facebook.data.full_name || user.social.facebook.data.email }}
				</ion-title>
			</ion-col>
			<ion-buttons end>
		    	<button (click)="sair()" outline>Sair</button>
		  </ion-buttons>
		</ion-row>
	</ion-toolbar>
</ion-footer>
