<ion-header>
  <ion-toolbar primary>
    <ion-title>Seu Pedido: </ion-title>
    <ion-buttons end>
		<button royal outline (click)="voltar()"> 
	        <ion-icon name="close"></ion-icon>
	    </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-card>
    <ion-card-header>
      <strong>Pedido:</strong> 
    </ion-card-header>
    <ion-list>
      <ion-item *ngFor="let item of pedido; let i =  index">
        {{ item.name }}
        
        <button (click)="removeItem(item, i)" item-right>
          Remover
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
    
    <ion-item *ngIf="valorTotal">
      <strong>Valor Total</strong>
      <ion-badge style="font-size: 1em" item-right>{{ valorTotal | currency:'BRL':true }}</ion-badge>
    </ion-item>
  </ion-card>
</ion-content>